<launch>
	<arg name="model" default='$(find lab4)/urdf/dynamicrobot.urdf'/>
	<arg name="gui" default="True" />
	<param name="robot_description"  textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>

	<param name="d1" value="3" />
	<param name="d2" value="3" />
	<param name="d3" value="3" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="jint" pkg="lab4" type="jint" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lab4)/urdf.rviz" required="true" />
</launch>
